/* restrick pointer events to avoid shapes being dragged using its boundaries */
/*path {
	cursor: auto !important;
}*/

#left{
	width:50%;
	display:inline-block;
	float:left;
	padding-left:7%;
	height:100%;
}

#right{
	width:35%;
	display:inline-block;
	float:left;
	padding-left:5%;
	padding-right:2%;
}

body {
    color: rgb(4,173,220);
    font-family: sans-serif;
    background: rgb(20,24,22)
}
h1, h2, h3, h4, h5, h6 {
    font-family: helvetica;
    color: rgb(245,208,0)
}


#dropdown_table_filterColumn {
/*font-weight: 200;*/
/*font-size: 14px;*/
/*line-height: 12px;*/
color: rgb(245,208,0);
/*margin: 0;*/
/*padding: 8px;*/
background: rgb(8,19,42);
/*position: relative;*/
/*width: 130px;*/
/*vertical-align: middle;*/
}

#my-range-slider{
	margin-left:auto;
	/*margin-right: auto;*/
	top: 10px;
}

br, h4, 
#dropdown_table_filterColumn, #algo-selector, 
#graphics-algo-selector, #vector-norm, #vector-choose, #choose-target, #table{
	padding: 5px;
	margin-left: 1%;
	/*margin-rigth: 1%;*/
	/*margin-left:auto;*/
	margin-right: auto;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

#button{
    padding: 5px;
}

.button,
button,
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: rgb(4,173,220);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgb(4,173,220);
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus {
  color: rgb(245,208,0);
  border-color: rgb(245,208,0);
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary
{
  color: rgb(4,173,220);
  padding:5px;
  background-color: rgb(4,173,220);
  border-color: rgb(4,173,220);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="button"].button-primary:focus {
  color: rgb(4,173,220);
  background-color: rgb(4,173,220);
  border-color: rgb(4,173,220);

}

#dropdown_table_filterColumn,

#vector-choose,
#choose-target,
#algo-selector,
.Select-arrow-zone,
.Select-placeholder,
.Select-value,
.Select-value-label
.Select,
.has-value,
.Select--single
{
  color: rgb(245,208,0);
  border-color: rgb(245,208,0);
  outline: 0;
  background: rgb(20,24,22);
}


#dropdown_table_filterColumn,
.Select-input
{
  color: rgb(245,208,0);
  border-color: rgb(245,208,0);
  outline: 0;
  background: rgb(20,24,22);
}

#dropdown_table_filterColumn,
#algo-selector,
#vector-choose,
#choose-target{
	border: 1px solid rgb(4,173,220);
	border-radius:0.7rem;
}

.svg-container{
	min-height:25rem !important;
}

